:root {
  --c-white: hsl(36, 100%, 99%);
  --c-blue: hsl(240, 100%, 5%);
  --c-gray: hsl(236, 13%, 42%);
  --c-red: hsl(5, 85%, 63%);
  --c-silver: hsl(233, 8%, 79%);
  --c-yellow: hsl(35, 77%, 62%);
}
